<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Eidola</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>60</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Eidola needs camera access to capture photos of faces and patterns you discover in everyday objects.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Eidola uses your location to show nearby pareidolia discoveries on the map.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Eidola uses your location to show nearby pareidolia discoveries and add location tags to your posts.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Eidola needs permission to save photos to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Eidola needs photo library access to select images of pareidolia discoveries you want to share.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>io.eidola.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>eidola</string>
			</array>
		</dict>
	</array>
	<key>WKAppBoundDomains</key>
	<array>
		<string>eidola.io</string>
		<string>clerk.eidola.io</string>
		<string>accounts.clerk.dev</string>
		<string>accounts.google.com</string>
		<string>appleid.apple.com</string>
	</array>
</dict>
</plist>
